* {
  box-sizing: border-box;
}

.group17 {
  position: relative;
  width: 377px;
  height: 726px;

  .group9 {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    flex-direction: column;
    align-items: flex-start;
    width: 377px;
    height: 713px;

    .image2 {
      margin-left: 18px;
      border-radius: 10px;
      width: 325px;
      height: 182px;
    }

    .group2 {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      align-self: stretch;
      margin-top: 8px;

      .autoWrapper {
        display: flex;
        align-items: center;
        align-self: stretch;
        justify-content: space-between;
        padding-right: 34px;
        padding-left: 0;

        .workshop {
          width: 86px;
          height: 14px;
          text-align: center;
          letter-spacing: 0;
          color: #00ad6c;
          font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 10px;
          font-weight: 600;
        }

        .a22082026 {
          line-height: 10px;
          letter-spacing: 0;
          color: #00ad6c;
          font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 8px;
          font-weight: 600;
        }
      }

      .introduOAoPython {
        margin: 28px 0px 0px 81px;
        width: 199px;
        height: 30px;
        text-align: center;
        letter-spacing: 0;
        color: #000000;
        font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 18px;
        font-weight: 600;
      }

      .vocJSePerguntouComoO3 {
        margin: 14px 0px 0px 18px;
        width: 325px;
        letter-spacing: 0;
        color: #000000;
        font-size: 11px;

        .vocJSePerguntouComoO {
          letter-spacing: 0;
          color: #000000;
          font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 11px;
        }

        .vocJSePerguntouComoO2 {
          letter-spacing: 0;
          color: #000000;
          font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 11px;
          font-weight: 600;
        }
      }

      .instituiOTechLivre {
        margin: 62px 0px 0px 260px;
        width: 117px;
        height: 11px;
        text-align: center;
        letter-spacing: 0;
        color: #000000;
        font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 9px;
      }
    }
  }

  .group18 {
    display: flex;
    position: absolute;
    top: 695px;
    left: 2px;
    align-items: center;
    justify-content: space-between;
    width: 258px;
    height: 31px;

    .inscrevaSe {
      line-height: 12px;
      letter-spacing: 0;
      color: #ffffff;
      font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
      font-size: 10px;
      font-weight: 700;
    }

    .rectangle14 {
      display: flex;
      align-items: center;
      border-radius: 10px;
      background: #00ad6c;
      padding: 10px 28px 9px 29px;
    }

    .rectangle142 {
      display: flex;
      align-items: center;
      border-radius: 10px;
      background: #053f7d;
      padding: 10px 41px 9px 43px;
    }
  }
}
